<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container-fluid">
  <div class="calculadora">
      <div class="row ">
          <div class="col-12 numPantalla bg-white">{{pantalla}}</div>
          <div class="col-12 numPantalla bg-white">{{total}}</div>
      </div>
      <div class="row">
          <div class="col-10 numeros">
            <button (click)="comprobarBoton('9')" class="btnNum">9</button>
            <button (click)="comprobarBoton('8')" class="btnNum">8</button>
            <button (click)="comprobarBoton('7')" class="btnNum">7</button>
            <button (click)="comprobarBoton('6')" class="btnNum">6</button>
            <button (click)="comprobarBoton('5')" class="btnNum">5</button>
            <button (click)="comprobarBoton('4')" class="btnNum">4</button>
            <button (click)="comprobarBoton('3')" class="btnNum">3</button>
            <button (click)="comprobarBoton('2')" class="btnNum">2</button>
            <button (click)="comprobarBoton('1')" class="btnNum">1</button>
            <button (click)="comprobarBoton('.')" class="btnNum">.</button>
            <button (click)="comprobarBoton('0')" class="btnNum">0</button>
            <button (click)="comprobarBoton('00')" class="btnNum">00</button>
          </div>
          <div class="col-2 operaciones">
            <button (click)="comprobarBoton('DEL')" class="btnOpe">DEL</button>
            <button (click)="comprobarBoton('/')" class="btnOpe">/</button>
            <button (click)="comprobarBoton('*')" class="btnOpe">X</button>
            <button (click)="comprobarBoton('-')" class="btnOpe">-</button>
            <button (click)="comprobarBoton('+')" class="btnOpe">+</button>
            <button (click)="comprobarBoton('=')" class="btnOpe">=</button>
          </div>
    </div>
  </div>
</div>