/* General */

body {
    margin: 0;
    background-color: rgb(139, 215, 210);
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    width: 25vw;
    height: 60vh;
}

@media (max-width: 768px) {
    .calculadora {
    width: 80vw;
    }
}

/* Pantalla de calculo */

.numPantalla { 
    text-align: right;
    font-size:x-large;
}

/* Div de los numeros */

.numeros{
    color: white;
    background-color: rgb(161, 137, 137);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 500px;
}

/* Div de las operaciones */

.operaciones{
    color: white;
    background-color: rgb(30, 211, 199);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
}

/* Botones de los numeros */

.btnNum{
    border-color: transparent;
    background-color: rgb(161, 137, 137);
    color: white;
    font-size: 20px;
}

/* Botones de las operaciones */

.btnOpe{
    border-color: transparent;
    background-color: rgb(30, 211, 199);
    color: white;
    font-size: 20px;
}

/* Botones al clickarse */

.btnNum:active{
    border-color: transparent;
    background-color: rgb(130, 110, 110);
    color: white;
    font-size: 20px;
}

.btnOpe:active{
    border-color: transparent;
    background-color: rgb(22, 174, 164);
    color: white;
    font-size: 20px;
}

/* Color de las operaciones */

.operaciones{
    color: white;
    background-color: rgb(30, 211, 199);
}